html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-card {
    position: relative;
}

.layui-card-header {
    display: inline-block;
}

.layui-btn-normal {
    position: absolute;
    right: 15px;
    top: 5px
    /* display: inline-block; */
}

#form-add,
#form-edit {
    margin-top: 25px;
    margin-right: 40px;
}